*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}

.mamae{
    width: 920px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border: 2px dashed slateblue;
}

.mamae__filinho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(212, 22, 222);
    border: 2px dashed rgb(0, 0, 0);
}

.filinho--azul{
    background-color: blue;
    color: white;
}

