.card-perfil{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 1px solid white;*/
    border-radius: 3px;
    background-color:  rgb(230, 130, 190);
}

.card-perfil__imagem{
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50%;
}